project:
  type: website

website:
  title: "REACH-cruise-reports"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: https://github.com/USF-IMARS/REACH-cruise-reports
        text: Source Code on GitHub

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    code-fold: true
    message: false
    warning: false



